@media only screen and (min-width: 769px) {
    *{}
    html,body{
        font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    }
    .header{
        background-color: rgb(118, 167, 241);
        display:flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
    }

    .header h1{
        color: rgb(252, 252, 108);
        font-size: 70px;
    }
    .header h2{
        color: rgb(252, 252, 108);
        font-size: 30px;
    } 
    .header h1 img{
        width: 50px;
        height: 50px;
    }
    .info {
        background-color: rgb(118, 167, 241);
        display:flex;
        padding: 30px;
        align-items: center;
    }
    .info h2{
        color: rgb(252, 252, 108);
        font-size: 30px;
    }
    .info h3{
        color: rgb(252, 252, 108);
        font-size: 25px;
    }
    
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .header h1 img{
        width: 50px;
        height: 50px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 320px){
    .header h1 img{
        width: 60px;
        height: 60px;
    }
}